<div class="password_template">
  <div class="form-group">
    <label>Password</label>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<input id="change_password_input_1_<%= account_id %>" type="password" class="form-control" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<span id="change_password_input_1_<%= account_id %>_error"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Password (Again)</label>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<input id="change_password_input_2_<%= account_id %>" type="password" class="form-control" />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<span id="change_password_input_2_<%= account_id %>_error"></span>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>Strength</label>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div id="password_strength_bar_<%= account_id %>" class="password_strength"></div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<input type="button" id="create_strong_password_<%= account_id %>" class="btn btn-default" value="Password Generator" tabindex="-1" />
      </div>
    </div>
  </div>
  
  <div class="form-group">
    <input type="button" id="change_password_btn_<%= account_id %>" class="btn btn-primary" value="Change Password" />
    <button id="cancel_btn_<%= account_id %>" class="btn btn-link cancel_btn">Cancel</button>
  </div>

  <div id="change_password_status_{{index}}"></div>
</div>
