<div class="section">
  <div class="form-group">
    <label for="rename">New Group Name</label>
    <div class="row form-group">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
	<div class="input-group">
	  <input type="text" id="newname_<%= index %>" class="form-control col-xs-2"/>
	  <span class="input-group-addon">@<%= domain %></span>
	</div>
      </div>
      <div id="newname_<%= index %>_error" class="col-xs-12 col-sm-6 col-md-6 col-lg-6"></div>	  
    </div>
    <div class="form-group">
      <button id="rename_<%= index %>" class="btn btn-primary">Rename</button>
      <button class="btn btn-link" id="btn_cancel_<%= index %>">Cancel</button>
    </div>
  </div>
</div>
