<div class="pull-right managing-menu">
  <div class="form-inline">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 managing-label-wrap">
        <label for="manage_list_select" id="txt_Managing" class="control-label">Managing:</label>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <select name="account" id="manage_list_select" class="col-xs-12 form-control">
	  <% for (var acc in accounts) { %>
	  <option value="<%= acc %>" <% if (acc == selected) { %>selected<% } %> ><%= acc %></option>
	  <% } %>
        </select>
      </div>
    </div>
  </div>
</div>

<h2>XMPP settings for <%= selected %></h2>
<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <table class="truncate-table table table-striped">
    <thead>
      <tr>
	<th colspan="2">Secure SSL/TLS Settings (Recommended)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Username/JabberID:</td>
	<td class="data"><strong><%= selected || '&lt;your.email@address&gt;' %></strong></td>
      </tr>
      <tr>
	<td>Password:</td>
	<td class="escape-note"><em>( Use the email account’s password. )</em></td>
      </tr>
      <tr>
	<td>Server:</td>
	<td class="data">
	  <strong><%= server %></strong>
	</td>
      </tr>
      <tr>
	<td>Port:</td>
	<td><strong>5223</strong></td>
      </tr>        
    </tbody>
  </table>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
  <table class="truncate-table table table-striped">
    <thead>
      <tr>
	<th colspan="2">Non-SSL Settings (NOT Recommended)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
	<td>Username/JabberID:</td>
	<td class="data"><strong><%= selected || '&lt;your.email@address&gt;' %></strong></td>
      </tr>
      <tr>
	<td>Password:</td>
	<td class="escape-note"><em>( Use the email account’s password. )</em></td>
      </tr>
      <tr>
	<td>Server:</td>
	<td class="data">
	  <strong><%= server %></strong>
	</td>
      </tr>
      <tr>
	<td>Port:</td>
	<td><strong>5222</strong></td>
      </tr>        
    </tbody>
  </table>
</div>
