<table id="mailtbl" class="table table-striped">
  <colgroup>
    <col width="12%" align="left" />
    <col width="25%" align="left" />
    <col width="30%" align="center" />
  </colgroup>
  <thead>
    <tr>
      <th>Extensions / Phone Numbers (DID) </th>
      <th>Assigned To</th>
      <th>Functions</th>
    </tr>
  </thead>
  <% for (var i = 0; i < extensions.length; i++) { %>  
  <tr>
    <td><%= extensions[i].html_dest %></td>
    <td><%= extensions[i].html_forward %></td>
    <td>
      <button id="delete_<%= i %>" class="btn btn-link delete_extension" value="<%= extensions[i].uri_dest %>"><span class="glyphicon glyphicon-trash"></span> Delete</button>
      <% if( extensions[i].type == "number" && extensions[i].assignedType == "a" ) { %>
      <% if (!extensions[i].out) { %>
      <button id="set-outgoing_<%= i %>" class="btn btn-link set-outgoing" value="<%= extensions[i].uri_dest %>"><span class="glyphicon glyphicon-arrow-right"></span> Set as outgoing</button>
      <% } else { %>
      <button id="unset-outgoing_<%= i %>" class="btn btn-link unset-outgoing" value="<%= extensions[i].uri_dest %>"><span class="glyphicon glyphicon-arrow-right"></span> Unset as outgoing</button>
      <% } %>
      <% } %>
      <span id="delete_extension_loading_<%= i %>" class="delete_loading"></span>
    </td>
  </tr>
  <% } %>
  <% for (var i = 0; i < aliases.length; i++) { %>  
     <% if (aliases[i].aliases) { %>
     <% for (var j = 0; j < aliases[i].aliases.length; j++) { %>
     <tr>
       <td><%= aliases[i].aliases[j] %></td>
       <td><%= aliases[i].account %></td>
       <td>
	 <button class="btn btn-link delete-local" value="<%= aliases[i].aliases[j] %>/<%= aliases[i].account %>"><span class="glyphicon glyphicon-trash"></span> Delete</button>
	 <span class="delete_loading"></span>
       </td>
     </tr>
     <% } %>
     <% } %>
  <% } %>

  <% if (extensions.length < 1 && aliases.length < 1) { %>
  <tr>
    <td colspan="3">Currently there aren't any extensions!</td>
  </tr>
  <% } %>
</table>
